.container
	h1 {{vm.heading}}
	#accordion.accordion(role='tablist' aria-multiselectable='true')
		.card.border-primary
			#headingOne.card-header.bg-primary.text-white.btn-link(role='tab')
				.accordion-toggle(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
					| Collapsible Group Item #1
			#collapseOne.collapse.show(role='tabpanel' aria-labelledby='headingOne')
				.card-body
					| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
					| non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
					| put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
					| labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
					| beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable
					| VHS.
		.card.border-primary
			#headingTwo.card-header.bg-primary.text-white.btn-link(role='tab')
				.collapsed.accordion-toggle(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
					| Collapsible Group Item #2
			#collapseTwo.collapse(role='tabpanel' aria-labelledby='headingTwo')
				.card-body
					| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
					| non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
					| put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
					| labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
					| beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable
					| VHS.
		.card.border-primary
			#headingThree.card-header.bg-primary.text-white.btn-link(role='tab')
				.collapsed.accordion-toggle(role='button' data-toggle='collapse' data-parent='#accordion' href='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
					| Collapsible Group Item #3
			#collapseThree.collapse(role='tabpanel' aria-labelledby='headingThree')
				.card-body
					| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
					| non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
					| put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
					| labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
					| beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven&apos;t heard of them accusamus labore sustainable
					| VHS.
	br
	.checkbox
		input#check1(type='checkbox')
		label(for='check1') Remember Me?
